
body{
    padding: 0;
    margin: 0;
    /* min-height: 45em; */
}

main{
    min-height: 60vh;
}

.logo img{
    width: 12em;
}

#active{
    background-color: #e0046c;
    color: white;
}

.nav li{
    padding: 0em .3em;
}
.nav-bar-top-text{
    color: #e0046c;
}

.nav-bar-top-text:hover{
    color: black;
    background-color: #e0046c;
    transition: 1s;
}

.header-top header, .nav-control{
    padding: 0px 13px;
}

.label-distance{
    padding-right: 3em;
}

.btn{
    background-color: #e0046c;
    color: white;
    /* border: #e0046c; */
}

.btn:hover{
    background-color: white;
    color: #e0046c;
    border: 1px solid #e0046c;
}

.nav-control{
    color: white;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(176,176,176,1) 3%, rgba(111,111,111,1) 51%, rgba(158,158,158,1) 99%, rgba(255,255,255,1) 100%);
    height: 7em;
}

.nav-control a{
    padding-bottom: .2em;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 3em;
}

.nav-control a:hover{
    color: #e0046c;
    transition: .3s;
}

.search-logo{
    margin-left: 1em;
    color: #e0046c;
}

.search-logo svg{
    width: 2em;
    height: 1.3em;
}

.search-logo:hover{
    color: white;
    background-color: #e0046c;
    border-radius: 45px;
}

.cards-container{
    padding-top: 3em;
    padding-bottom: 10em;
    width: 100%;
}

.cards-container p{
    margin: 0px;
}

.card{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
}

.card-img-top{
    max-width: 16em;
    max-height: 10em;
    margin-top: 1em;
    border-radius: 10px;
}

.price{
    margin-top: 1em;
}
/*                                                      contact  */

textarea {
    resize: none;
}

.form-container{
    margin-bottom: 2em;
}

/*                                                      details  */

.details-card{
    margin-top: 5em;
    max-width: 936px;
    height: auto;
    /* max-height: 292px; */
    padding: 1em;
}

.imagen, .detail{
    margin: .5em;
}

.detail{
    padding: 1em;
}


.imagen img{
    height: 15em;
}

/*                                                        footer*/
footer{
    padding-top: 3em;
    padding-bottom: 2em;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(111,111,111,1) 100%);


}
.redes .ig, .redes .fb, .redes .wpp{
    width: 3em;
    height: 3em;
    color: #e0046c;
    margin-right: 1em;
} 

/*                                                      stats */
.stats-table{
    margin-top: 2em;
}


.first-theader{
    background-color: #e0428c;
    color: rgb(43, 43, 43);
}

.second-theader{
    background-color: #929292;
    color: black;
}


/*                                                    responsive  */
@media only screen and (min-width: 360px) and (max-width: 768px) {
    .details-card{
        flex-wrap: wrap;
    }
    .imagen img{
        height: 13em;
    }
    
}