body{
    padding: 0;
    margin: 0;
    min-height: 45em;
}

.logo img{
    width: 12em;
}

#active{
    background-color: #e0046c;
    color: white;
}

.nav-bar-top-text{
    color: #e0046c !important;
}

.header-top header, .nav-control{
    padding: 0px 13px;
}

.label-distance{
    padding-right: 3em;
}

.btn{
    background-color: #e0046c;
    color: white;
    border: #e0046c;
}

.btn:hover{
    background-color: #e0046b23;
    /* border: 1px solid #e0046c; */
}

.nav-control{
    background-color: grey;
    height: 7em;
}

.nav-control a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 3em;
}

.search-logo{
    padding-top: .3em;
    padding-left: 1em;
    color: black;
}
/*                                                      contact  */

textarea {
    resize: none;
  }
/*                                                      details  */

.details-card{
    margin-top: 5em;
    width: 46em;
    height: 30em;
    padding: 1em;
}

.imagen, .detail{
    margin: .5em;
}

.imagen img{
    height: 15em;
}